body {
    background: linear-gradient(to right, #114BEE, #EEB411);
    font-family: Arial, sans-serif;
  }
  
  .container {
    width: 500px;
    margin: 100px auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label
   {
    width: 60%;
    /* margin-bottom: 10px; */
    padding: 10px;
    font-size: 16px;
    /* box-sizing: border-box; */
  }
  
  input {
    border: 1px solid #333;
    border-radius: 5px;
    outline: none;
  }

  select{
    width: 50%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #333;
    border-radius: 5px;
    outline: none;
    appearance: none;
    background-color: #fff;
  }
  
  .submit {
    background-color: #114BEE;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    height: 40px;
    margin-top: 10px;
  }

  .submit:hover{
    background-color: #EEB411;
    color: #333;
  }
  
  /* input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  } */
  
  /* input[type="submit"]:hover {
    background-color: #fff;
    color: #333;
  } */
  