body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
    background: linear-gradient(to right, #EEB411, #114BEE);
}
h1 {
	font-size: 2rem;
	text-align: center;
	margin-top: 2rem;
}

.popup {
	
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 999;
  }
  
  .popup-content {
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	text-align: center;
  }
  
  .popup-content h2 {
	font-size: 24px;
	margin-bottom: 10px;
  }
  
  .popup-content p {
	font-size: 16px;
	margin-bottom: 20px;
  }

  #pop-up-btn {
	background-color: #EEB411;
;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
  }

form {
	max-width: 600px;
	margin: 0 auto;
	padding: 2rem;
	background-color: #f2f2f2;
	border-radius: 5px;
}
div {
	margin-bottom: 1rem;
}
label {
	display: block;
	margin-bottom: 0.5rem;
	font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="month"] {
	width: 100%;
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 1rem;
}
input[type="button"] {
	display: block;
	margin-top: 1rem;
	background-color: #EEB411;
	color: white;
	padding: 0.5rem;
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	cursor: pointer;
}
input[type="button"]:hover {
	background-color: #114BEE;
}
