.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #EEB411;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  }
  
  .header-logo {
    display: flex;
    align-items: center;
  }
  
  .header-logo img {
    width: 50px;
    height: 50px;
  }
  
  .header-user-info {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .header-user-info img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  #header-user-name {
    font-size: 16px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
  }
  
  .header-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .header-menu li {
    margin: 0 20px;
  }
  
  .header-menu a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .header-cart a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #114BEE;
    color: #fff;
    font-size: 20px;
  }

  body {
    background-color: rgb(215, 215, 215);
  }

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
  }
  
  label {
    margin-top: 1rem;
  }

  h1{
    display: flex;
    justify-content: center;
    
  }
  
  input[type="text"],
  input[type="url"],
  input[type="number"],
  textarea {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    width: 100%;
    margin-top: 0.5rem;
  }

  select {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    width: 100%;
    margin-top: 0.5rem;
  }
  
  .container button {
    margin-bottom: 1rem;
    background-color: #EEB411;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    width: 100%;
  }
  
  .container button:hover {
    background-color: #0077a3;
  }
  